*{
    font-family: arial;
}
div.container{
    border-width: 4px;
    border-color: black;
    border-style: solid;
    width: 80%;
    height: auto;
    margin: auto;
    top: 100px;
    padding: 20px;
    position: relative;
    overflow: hidden;
}



h2.heading{
    padding: 10px;
    text-align: center; 
}

.formLabel{
    width: 150px;
    float: left;
    display: block;
}

.formInput{
    width: 250px;
    border-style: solid;
    border-width: 1px;
    padding: 10px;
    border-radius: 5px;
    border-color: grey;
}

.formButton{
    height: 50px;
    width: 100px;
    float: right;
    margin: 5px;
    color: #ffffff;
    display: block;
    box-sizing: border-box;
}

.submitButton{
    background-color: #79ba85;
}

.resetButton{
    background-color: #f26050;
}

.formLink{
    position: absolute;
    right: 27px;
    bottom: 10px;
}

table.contentTable{
    border-style: solid;
    border-width: 1px;
    border-collapse: collapse;
    margin: auto;
}

th.name{
    width: 200px;
    height: 30px;
    border-style: solid;
    color: #ffffff;
    background-color: black;
    border-color: #ffffff;
    border-width: 1px;
}
th.address{
    width: 160px;
    height: 30px;
    border-style: solid;
    color: #ffffff;
    background-color: black;
    border-color: #ffffff;
    border-width: 1px;
}
th.ratting{
    width: 80px;
    height: 30px;
    border-style: solid;
    color: #ffffff;
    background-color: black;
    border-color: #ffffff;
    border-width: 1px;
}
th.picture{
    width: 400px;
    height: 30px;
    border-style: solid;
    color: #ffffff;
    background-color: black;
    border-color: #ffffff;
    border-width: 1px;
}
th.action{
    width: 350px;
    height: 30px;
    border-style: solid;
    color: #ffffff;
    background-color: black;
    border-color: #ffffff;
    border-width: 1px;
}
td.name{
    width: 200px;
    border-style: solid;
    text-align: center;
    background-color: bisque;
    height: 180px;
    border-color: #ffffff;
    border-width: 1px;
}
td.address{
    width: 160px;
    border-style: solid;
    text-align: center;
    background-color: bisque;
    height: 180px;
    border-color: #ffffff;
    border-width: 1px;
}
td.ratting{
    width: 80px;
    border-style: solid;
    text-align: center;
    background-color: bisque;
    height: 180px;
    border-color: #ffffff;
    border-width: 1px;
}
td.picture{
    width: 400px;
    border-style: solid;
    text-align: center;
    background-color: bisque;
    height: 180px;
    border-color: #ffffff;
    border-width: 1px;
}
td.action{
    width: 350px;
    border-style: solid;
    text-align: center;
    background-color: bisque;
    height: 180px;
    border-color: #ffffff;
    border-width: 1px;
}

img.tableImage{
    width: 240px;
    height: 160px;
}

.tableButton{
    height: 40px;
    width: 100px;
    float: right;
    margin: 5px;
    color: #ffffff;
    display: block;
    box-sizing: border-box;
}

.updateButton{
    background-color: green;
}

.deleteButton{
    background-color: #ff0055;
}

.createButton{
    background-color: blue;
    color: white;
    margin-left: 20px;
    margin-top: 10px;
    height: 30px;
}

div.flex-form{
    width: 500px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

div.btnFlex{
    float: right;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    width: 300px;
}

div.form-box-1{
    margin:0px;
    width: 180px;
    align-self: center;
}

div.form-box-2{
    margin:10px;
    width: 270px;
    
}

#spl{
    margin: 25px;
    width: 200px;
    height: 20px;
}

#noinfo{
    margin: 25px;
    display: none;
}

p.error{
    color: red;
    width: 500px;
    margin-top: 0px;
    display: None;
}

img#viewer{
    display: none;
}

p#viewerTitle{
    display: None;
}